@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@700&family=Oswald:wght@300;400&family=PT+Sans+Narrow:wght@400;700&family=Quicksand:wght@300;400;500;600;700&family=Rajdhani:wght@500;600;700&family=Source+Sans+Pro:wght@200&display=swap");
* {
  margin: 0;
  font-family: "Quicksand";
}
html {
  background-color: #eef1f6;
  overflow: hidden;
}
header {
  background-color: #ffffff;
  margin: 0;
}
.logo {
  background-color: #21303c;
  width: 156px;
}
#logo {
  margin-left: 25px;
  margin-top: 10px;
}
.search {
  display: flex;
}
.header-container {
  display: flex;
}
.form {
  margin-top: 10px;
}