<!DOCTYPE html>
<html>
<head>
    <title>About Us Section</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet"  type="text/css" href="aboutus.css">
</head>
<body>
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>About Us</h1>

                </div>
                <div class="content">
                    <h3>Eleifend Cras maecenas pretium vestibulum, malesuada.
                         Iaculis urna montes ullamcorper, tortor pretium Parturient
                          platea nulla. </h3>
                          <p>Dis facilisi dolor maecenas netus justo, 
                            vulputate sapien habitant etiam viverra accumsan rutrum
                             curabitur. Parturient mollis id dictumst consectetuer dapibus
                              lobortis. Sed magnis mi phasellus faucibus, commodo sociosqu.
                               Suspendisse penatibus eu platea libero eros sit dignissim platea 
                               praesent id quisque venenatis felis sed a nunc scelerisque, posuere
                                suscipit habitasse egestas litora per viverra donec, adipiscing quam
                                 hymenaeos purus dictumst, senectus lacinia ultrices dictum rhoncus.
                                  Purus mauris molestie penatibus commodo tempus ridiculus mauris, 
                                  sagittis tempor inceptos dignissim libero. Nostra. Lacus. Odio 
                                  lacinia posuere tempus aptent conubia sodales maecenas mi Porttitor 
                                  molestie phasellus per. Torquent risus. Non penatibus montes. Orci
                                   ornare nec primis lorem eros cum, accumsan. Donec libero montes potenti
                                    etiam ultricies quis. Tortor mattis. Amet adipiscing. Magnis ligula a litora
                                     ligula a odio aliquam penatibus lorem interdum, fermentum. Sollicitudin maecenas
                                      venenatis tellus volutpat ultrices. Ipsum ullamcorper. Suscipit Purus mattis neque
                                       fames aliquam fames mollis laoreet penatibus imperdiet, dictum. Quis. Fringilla nam.
                                        Fusce mollis rutrum. Convallis. Mi nam class. Fusce cubilia viverra, inceptos curae;
                                         adipiscing. Dolor cum accumsan, dictumst magna, dapibus imperdiet. Nullam. Aliquam nullam
                                          porttitor vel vestibulum platea tempus vivamus scelerisque adipiscing ultrices Nisl ultrices.</p>

                </div>
                <div class="social">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>

                </div>

            </div>
            <div class="image-section">
                <img src="images/aboutus.jpg" >
            </div>


        </div>

    </div>
    
</body>
</html>