@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@700&family=Oswald:wght@300;400&family=PT+Sans+Narrow:wght@400;700&family=Quicksand:wght@300;400;500;600;700&family=Rajdhani:wght@500;600;700&family=Source+Sans+Pro:wght@200&display=swap");
*{  margin: 0;
  font-family: "Quicksand";
  
}
html {
  background-color: #eef1f6;
  overflow: hidden;
}
header {
  background-color: #ffffff;
  margin: 0;
  overflow: hidden;
  
  
}
.logo {
  background-color: #21303c;
  width: 156px;
  
}
#logo {
  margin-left: 25px;
  margin-top: 10px;
}
.search {
  display: flex;
  
}
.header-container {
  display: flex;
}
.form {
  margin-top: 10px;
}
#genre {
  margin-top: 20px;
  font-size: 20px;
  appearance: none;
  padding: 6px 20px;
  width: 150px;
  text-align: left;
  font-size: 14px;
  color: #888b8b;
  border: solid 1px #cbcdcd;
  border-radius: 8px;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 15px;
  background: url("https://cdn-icons-png.flaticon.com/512/7711/7711100.png")
    no-repeat 115px;
  background-size: 20px;
  cursor: pointer;
}
#genre:focus {
  outline: none;
}
.search-bar-input {
  padding: 10px 20px;
  width: 450px;
  text-align: left;
  font-size: 14px;
  color: #888b8b;
  border: solid 1px #cbcdcd;
  border-radius: 8px;
  margin-left: 50px;
  margin-right: 10px;
  margin-top: 10px;
  background: url("https://static.thenounproject.com/png/101791-200.png")
    no-repeat 450px;
  background-size: 20px;
}
input:focus {
  outline: none;
}

.nav-right {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  overflow: hidden;
}

.bell-icon {
  margin: 22px;
  font-size: 25px;
  cursor: pointer;
  transition-duration: 0.4s;
  padding: 5px;
  background-color: #fafcff;
}
.bell-icon:hover {
  transform: rotate(0.04turn);
}
@keyframes bell {
  0% {
    transform: rotate(-0.08turn);
  }
  50% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(0.08turn);
  }
}
.account-container {
  display: flex;
  margin: 8px;
  padding: 4px 10px;
  cursor: pointer;
  transition-duration: 0.2s;
  background-color: #fafcff;
  color: #888b8b;
  border-bottom: solid 1px #ffffff;
  border-radius: 8px;
}
.account-container:hover {
  color: #21303ccf;
  background-color: #fafafa;
}

#profile-icon {
  background-color: #c9f2c8;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}
.profile-picture {
  margin: 10px 10px;
}
.profile-info {
  padding: 10px 10px;
  line-height: 20px;
  text-align: start;
}
.profile-name {
  font-size: 16px;
}
.profile-type {
  font-size: 12px;
}
body {
  height: 100%;
  margin: 0px;
  border: solid px;
  font-family: "Quicksand";
  background-color: #eef1f6;
  overflow: hidden;
}
.body-container {
  display: flex;
  justify-content: space-between;
}
.body {
  display: flex;
  overflow: hidden;
}
.navigation-container {
  width: 156px;
  height: 100vh;
  background-color: #21303c;
  color: #fff;
  text-align: center;
}
.nav-item {
  width: fit-content;
  padding: 20px;
  margin: auto;
  padding-top: 20px;
  transition-duration: 0.15s;
  cursor: pointer;
}
.nav-hover:hover {
  background-color: #53bdc7;
}
.line {
  height: 1px;
  width: 180px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: auto;
}
#bottom {
  margin-top: 42vh;
}
#logout {
  display: flex;
}
#logout-text {
  margin-top: 5px;
}
.search-books-container{
    width: 125vh;
    margin: 30px 80px;
    background-color: #fff;
    border: solid 1px #eef1f6;
    border-radius: 12px;
    padding: 24px;
    height: fit-content;
}
.searched-book-name{
    color: #21303c;
    font-size: 24px;
}
.book-card-container{
    display: flex;
    justify-content: space-between;
    padding : 20px 20px;
    margin-top: 10px;
    background-color: #ECF3FF;
    border-radius: 8px;

}
.book-ind{
    display: flex;
    justify-content: center;
}
.card-content{
    margin-top: 20px;
    margin-left: 20px;
}
.card-title{
    font-size: 20px;
    font-weight:400;
    margin-bottom: 5px;
}
.card-author{
    margin-bottom: 5px;
    font-weight: 500;
}

.buttons-container{
    margin-top: 40px;
}
.update-button-container,.delete-button-container{
    text-align: center;
    padding: 8px 25px;
    margin: 10px;
    cursor: pointer;
    transition-duration: 0.1s;
}
.update-button-container{
    background-color: #45C342;
    border-radius: 8px;
    color: #ECF3FF  ;
    
}
.update-button-container:hover{
    background-color: #3ca93a;
}
.delete-button-container{
    background-color: #EC2E15;
    border-radius: 8px;
    color: #ECF3FF ;
}
.delete-button-container:hover{
    background-color: #c62610;
}
.content{
    height: 100vh;
    width: 100%;
    overflow: hidden;

}
.booklist {
    position: absolute;
    width: 1250px;
    margin-left:60px ;
    margin-top: 30px;
    height:36vh;
    background: #fff;
    border-radius: 12px;
    overflow-x: auto;
    overflow-y: hidden;
   

}
::-webkit-scrollbar {
    width: 0;
}

.booklist .head {
    position: relative;
    margin-left: 10px;
    margin-top: 0px;
    font-size: 0.8em;
    color: #136284;
}
.cardBox {
    position: relative;
    width: 100%;
    margin-top: -16px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 60px;
   
}

.cardBox .card {
    position: relative;
    width: 110px;
    height: 210px;
    background: #136284;
    align-items: center;
    padding: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}

.cardBox .card img {
    position: relative;
    margin-left: -34px;
    margin-top: -36px;
    width: 180px;
    height: 220px;
    cursor: pointer;
}


.cardBox .card .styleClass {
    position: fixed;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    background: #45C342;
    font-size: 0.8em;
    border-radius: 10px;
    opacity: 0;
    border: 1px;
    margin-top: -870px;
}
.cardBox .card:hover img {
  filter: blur(10px);
  transition: 0.2s;
}

.card p {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 1px;
    opacity: 0;
    margin-top: -1500px;
    margin-left: -700px;
    color: #fff;
    font-size: 0.5em;
}

.cardBox .card #del {
    position: fixed;
    background: #EC2E15;
    margin-top: -830px;
}


.cardBox .card:hover .styleClass {
    position: absolute;
    opacity: 1;
    margin-top: -170px;
    margin-left: 15px;
}

.cardBox .card:hover #del {
    position: absolute;
    margin-top: -130px;
}

.cardBox .card:hover p {
    opacity: 1;
    margin-top: -30px;
    margin-left: -45px;
    font-weight: 500px;
    font-size: 0.8em;
    outline-color: 2px black;
}
.dataBox {
    position: absolute;
    width: calc(100% - 400px);
    left: 200px;
    margin-top: 260px;
    min-height: 6vh;
    border-radius: 20px;
    transition: 0.5s;
}

.dataCard {
    position: relative;
    width: 100%;
    height: 120px;
    margin-top: 5px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}

.dataCard .datas {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    align-items: center;
    width: 200px;
    height: 100px;
    margin-left: 50px;
}

.dataBox .datas .icnbx {
    position: relative;
    margin-left: 20px;
    font-size: 2em;
    margin-top: 15px;
}

.dataBox .datas .numbers {
    position: relative;
    margin-right: 70px;
    font-size: 20px;
}


.borrowed-books-container {
  position: absolute;
  width: 1200px;
  margin-top: 380px;
  margin-left: 60px;
  background-color: #fff;
  border: solid 1px #eef1f6;
  border-radius: 12px;
  padding: 24px;
  
  height: fit-content;
}
.borrowed-book-head{
  color: #136284;
  font-size: 24px;
}
.table-line{
  margin-top: 8px;
  width: 162vh;
  height: 1px;
  background-color: #8A9090;
}
.borrowed-list-head-title, .borrow-list-row-container{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.borrowed-list-head-title{
  margin-top: 28px;
  color: #8A9090;
}
.borrow-list-row-container{
  margin-top: 12px;
  height: 40px;
  padding-top: 8px;}

  #notify-green{
    background: lightgreen;
    border: 1px solid green;
    border-radius: 4px;
  }