<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="css/admin.css">
</head>

<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li class="list">
                    <a href="#">
                        <span class="icon"><ion-icon name="book"></ion-icon></span>
                        <span class="title">SHELF CONTROL</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon"><ion-icon name="add-circle"></ion-icon></span>
                        <span class="title">Add Books</span>
                    </a>
                </li>
                <li class="list ">
                    <a href="#">
                        <span class="icon"><ion-icon name="people"></ion-icon></span>
                        <span class="title">Users</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon"><ion-icon name="bookmarks"></ion-icon></span>
                        <span class="title">Reservations</span>
                    </a>
                </li>
                <li class="list">
                    <a href="login.html">
                        <span class="icon"><ion-icon name="log-out"></ion-icon></span>
                        <span class="title">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="topbar">
                <div class="search">
                    <label>
            <input type="text" placeholder="Search for book title, author, publisher or user">
            <span><ion-icon name="search"></ion-icon></span>
        </label>
                </div>
                <div class="category">

                    <select name="Category" placeholder="Category" id="thriller">
                    <option>Thriller</option>
                    <option>Fantasy</option>
                    <option>Romance</option>
                    <option>Horror</option>
                    
                </select>


                </div>
                <div class="notification">

                    <ion-icon name="notifications"></ion-icon>

                </div>
                <div class="user">
                    <div>
                        <img src="images/user.jpg" alt=""></div>
                    <a class="usrname" href="#">Anupam Pandey</a>
                </div>
            </div>
        </div>
        <div class="booklist">
            <div class="head">
                <h1>Books</h1>
            </div>
            <div class="cardBox">
                <div class="card">
                    <img src="images/fellow.jpg" id="photo" alt="">
                    <input type="file" id="updt" style="display:none">
                    <button for="file" class="styleClass" id="updtBtn">Update</button>
                    <button class="styleClass" id="del">Delete</button>
                    <p>The Fellowship of the Ring</p>
                    <p>JRR Tolkein</p>
                </div>
                <div class="card">
                    <img src="images/td.jpg" alt="">
                    <button class="styleClass" onclick="document.getElementById('updt').click(); return false;">Update</button>
                    <a><span> <input type= "file" id="updt" style="display:none"></span>
                    <span> <button class="styleClass" id="del">Delete</button></span></a>
                    <p>The Diary of a Young Girl</p>
                    <p>Anne Frank</p>
                </div>
                <div class="card">
                    <img src="images/lll.jpg" alt="">
                    <button class="styleClass" onclick="document.getElementById('updt').click(); return false;">Update</button>
                    <a><span> <input type= "file" id="updt" style="display:none"></span>
                    <span> <button class="styleClass" id="del">Delete</button></span></a>
                    <p>Live Love Laughter</p>
                    <p>Osho</p>
                </div>
                <div class="card">
                    <img src="images/got.jpg" alt="">
                    <button class="styleClass" onclick="document.getElementById('updt').click(); return false;">Update</button>
                    <a><span> <input type= "file" id="updt" style="display:none"></span>
                    <span> <button class="styleClass" id="del">Delete</button></span></a>
                    <p>The Fellowship of the Ring</p>
                    <p>JRR Tolkein</p>
                </div>
                <div class="card">

                    <button class="styleClass" onclick="document.getElementById('updt').click(); return false;">Update</button>
                    <a><span> <input type= "file" id="updt" style="display:none"></span>
                    <span> <button class="styleClass" id="del">Delete</button></span></a>
                    <p>The Fellowship of the Ring</p>
                    <p>JRR Tolkein</p>
                </div>
                <div class="card">
                    <button class="styleClass" onclick="document.getElementById('updt').click(); return false;">Update</button>
                    <a><span> <input type= "file" id="updt" style="display:none"></span>
                    <span> <button class="styleClass" id="del">Delete</button></span></a>
                    <p>The Fellowship of the Ring</p>
                    <p>JRR Tolkein</p>
                </div>
                <div class="card">
                    <button class="styleClass" onclick="document.getElementById('updt').click(); return false;">Update</button>
                    <a><span> <input type= "file" id="updt" style="display:none"></span>
                    <span> <button class="styleClass" id="del">Delete</button></span></a>
                    <p>The Fellowship of the Ring</p>
                    <p>JRR Tolkein</p>
                </div>
                <div class="card">
                    <button class="styleClass" onclick="document.getElementById('updt').click(); return false;">Update</button>
                    <a><span> <input type= "file" id="updt" style="display:none"></span>
                    <span> <button class="styleClass" id="del">Delete</button></span></a>
                    <p>The Fellowship of the Ring</p>
                    <p>JRR Tolkein</p>
                </div>
                <div class="card">
                    <button class="styleClass" onclick="document.getElementById('updt').click(); return false;">Update</button>
                    <a><span> <input type= "file" id="updt" style="display:none"></span>
                    <span> <button class="styleClass" id="del">Delete</button></span></a>
                    <p>The Fellowship of the Ring</p>
                    <p>JRR Tolkein</p>
                </div>
                <div class="card">
                    <button class="styleClass" onclick="document.getElementById('updt').click(); return false;">Update</button>
                    <a><span> <input type= "file" id="updt" style="display:none"></span>
                    <span> <button class="styleClass" id="del">Delete</button></span></a>
                    <p>The Fellowship of the Ring</p>
                    <p>JRR Tolkein</p>
                </div>
                <div class="card">
                    <button class="styleClass" onclick="document.getElementById('updt').click(); return false;">Update</button>
                    <a><span> <input type= "file" id="updt" style="display:none"></span>
                    <span> <button class="styleClass" id="del">Delete</button></span></a>
                    <p>The Fellowship of the Ring</p>
                    <p>JRR Tolkein</p>
                </div>

            </div>
        </div>
        <div class="dataBox">
            <div class="dataCard">
                <div class="datas">
                    <div class="icnbx">
                        <ion-icon name="people"></ion-icon>
                    </div>
                    <div>
                        <div class="numbers">Users</div>
                        <div class="numbers">142</div>
                    </div>

                </div>
                <div class="datas">
                    <div class="icnbx">
                        <ion-icon name="flash"></ion-icon>
                    </div>
                    <div>
                        <div class="numbers">Subscribers</div>
                        <div class="numbers">80</div>
                    </div>

                </div>
                <div class="datas">
                    <div class="icnbx">
                        <ion-icon name="cart"></ion-icon>
                    </div>
                    <div>
                        <div class="numbers">Rented</div>
                        <div class="numbers">100</div>
                    </div>

                </div>
                <div class="datas">
                    <div class="icnbx">
                        <ion-icon name="alarm"></ion-icon>
                    </div>
                    <div>
                        <div class="numbers">Overdue</div>
                        <div class="numbers">20</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="brwdBooks">
            <div class="bBooks">
                <div class="bHead">
                    <span>Borrowed Books</span>

                </div>
                <table>
                    <thead>
                        <tr>
                            <td>Book ID</td>
                            <td>Member</td>
                            <td>Book Name</td>
                            <td>Status</td>
                            <td>Action</td>
                            <td>Returned</td>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>19888</td>
                            <td>Ryan Reynolds</td>
                            <td>Think on these Things</td>
                            <td>4 days</td>
                            <td>
                                <a href="#" class="btn">Notify</a>
                            </td>
                            <td>
                                <input type="checkbox" id="chkbx">
                            </td>
                        </tr>
                        <tr>
                            <td>19888</td>
                            <td>Ryan Reynolds</td>
                            <td>Think on these Things</td>
                            <td>4 days</td>
                            <td>
                                <a href="#" class="btn">Notify</a>
                            </td>
                            <td>
                                <input type="checkbox" id="chkbx">
                            </td>
                        </tr>
                        <tr>
                            <td>19888</td>
                            <td>Ryan Reynolds</td>
                            <td>Think on these Things</td>
                            <td>4 days</td>
                            <td>
                                <a href="#" class="btn">Notify</a>
                            </td>
                            <td>
                                <input type="checkbox" id="chkbx">
                            </td>
                        </tr>
                        <tr>
                            <td>19888</td>
                            <td>Ryan Reynolds</td>
                            <td>Think on these Things</td>
                            <td>4 days</td>
                            <td>
                                <a href="#" class="btn">Notify</a>
                            </td>
                            <td>
                                <input type="checkbox" id="chkbx">
                            </td>
                        </tr>
                        <tr>
                            <td>19888</td>
                            <td>Ryan Reynolds</td>
                            <td>Think on these Things</td>
                            <td>4 days</td>
                            <td>
                                <a href="#" class="btn">Notify</a>
                            </td>
                            <td>
                                <input type="checkbox" id="chkbx">
                            </td>
                        </tr>
                        <tr>
                            <td>19888</td>
                            <td>Ryan Reynolds</td>
                            <td>Think on these Things</td>
                            <td>4 days</td>
                            <td>
                                <a href="#" class="btn">Notify</a>
                            </td>
                            <td>
                                <input type="checkbox" id="chkbx">
                            </td>
                        </tr>
                        <tr>
                            <td>19888</td>
                            <td>Ryan Reynolds</td>
                            <td>Think on these Things</td>
                            <td>4 days</td>
                            <td>
                                <a href="#" class="btn">Notify</a>
                            </td>
                            <td>
                                <input type="checkbox" id="chkbx">
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>


    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="JS/admin.js"></script>
</body>



</html>