<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ'S</title>
</head>

<body>
    <div class="book">
        <input type="checkbox" id="c1">
        <input type="checkbox" id="c2">
        <input type="checkbox" id="c3">
        <div id="cover">
            <img src="fandq.jpg" alt="">
            <div class="title">
                The Book of FAQ's
            </div>
        </div>
    </div>

</body>

</html>