<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="faqs2.css" />
    <title>FAQS</title>
  </head>
  <header>
    <div class="header">
      <div class="header-container">
        <div class="logo">
          <div class="logo-container">
            <img id="logo" src="images/logo2.png" alt="logo" height="60px" />
          </div>
        </div>
        <div class="form">
          <div class="form-container">
            <div class="search">
              <div class="search-bar-container">
                <input
                  class="search-bar-input"
                  type="text"
                  name="bookName"
                  id="book"
                  placeholder="Search for book title, author, publisher or users"
                />
              </div>
              <div class="Genre-container">
                <select name="genre" id="genre">
                  <option value="horror">Horror</option>
                  <option value="classic">Classic</option>
                  <option value="fiction">Fiction</option>
                  <option value="thriller">Thriller</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="nav-right">
          <div class="notifications">
            <div class="bell-icon" id="bell-icon">
              <img src="images/icons/bell.png" alt="" height="30px" />
            </div>
          </div>
          <div class="account">
            <div class="account-container">
              <div class="profile-picture">
                <div class="profile-picture-container">
                  <div id="profile-icon">UN</div>
                </div>
              </div>
              <div class="profile-info">
                <div class="profile-name">User Name</div>
                <div class="profile-type">Student</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <body>
    <div class="body">
      <div class="body-container">
        <div class="navigation">
          <div class="navigation-container">
            <div class="line"></div>
            <div class="nav-hover">
              <div class="nav-item">
                <div class="nav-icon">
                  <img
                    src="images/icons/books.png"
                    alt="books"
                    height="34px"
                  />
                </div>
                Books
              </div>
            </div>
            <div class="line"></div>
            <div class="nav-hover">
              <div class="nav-item">
                <div class="nav-icon">
                  <img
                    src="images/icons/borrows.png"
                    alt="borrows"
                    height="32px"
                  />
                </div>
                Borrows
              </div>
            </div>
            <div class="line"></div>
            <div class="nav-hover">
              <div class="nav-item">
                <div class="nav-icon">
                  <img
                    src="images/icons/reservations.png"
                    alt="reservation"
                    height="30px"
                  />
                </div>
                Reservations
              </div>
            </div>
            <div class="line"></div>
            <div class="nav-hover">
              <div class="nav-item">
                <div class="nav-icon">
                  <img
                    src="images/icons/subscriptions.png"
                    alt="subscriptions"
                    height="30px"
                  />
                </div>
                Subscriptions
              </div>
            </div>
            <div class="line"></div>
            <div class="nav-hover">
              <div class="nav-item">
                <div class="nav-icon">
                  <img
                    src="images/icons/favourites.png"
                    alt="favourites"
                    height="30px"
                  />
                </div>
                Favourites
              </div>
            </div>
            <div class="line"></div>
            <div class="nav-hover">
              <div class="nav-item">
                <div class="nav-icon">
                  <img src="images/icons/faqs.png" alt="faqs" height="30px" />
                </div>
                FAQs
              </div>
            </div>
            <div class="line"></div>
            <div id="bottom" class="line"></div>
            <div class="nav-hover">
              <div id="logout" class="nav-item">
                <div class="nav-icon">
                  <img
                    src="images/icons/logout.png"
                    alt="logout"
                    height="30px"
                  />
                </div>
                <div id="logout-text">Log Out</div>
              </div>
            </div>
          </div>
        </div> 
      </div>

      <div class="box">
        <div class="title">
          <h3>Frequently Asked Questions</h3>
            
        
        <div class="box-1">
          <div class="ques-1">
            <h3>What's the difference between a free and a Premium account?</h3>
            <p>A free account receives basic access to all of our tools. A Premium account has a paid subscription, 
              and receives additional benefits. Let’s break it down. A free account is, well, free to use.
              Premium account is paid for either monthly, semi-annually, or annually. These accounts get the same features 
              as free users, as well as additional features only available to Premium users.</p>
              </div>
        </div>
        <div class="box-2">
          <div class="ques-2">
            <h3>How can we reset password?</h3>
            <p>First, go to the Forgot Password page and 
              enter your valid email address and select Reset password,then please follow the instructions.</p>
            </div>
        </div>
        
        <div class="box-3">
          <div class="ques-3">
            <h3>How can i delete my account?</h3>
            <p>Go to the UserProfile page and select the delete option to delete your existing account.</p>
            </div>
        </div>
    </div>
</div>
  </body>
</html>