*{
    margin:0;
    padding: 0;
    font-family: "Quicksand";
}
.banner{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url("/template/images/photobook.jpg");
    background-size: cover;
    background-position:center ;
    position: relative;
   
    
}
.banner.blur{
    filter: blur(2px);
}

.navbar{
    width:85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.logo{
    width: 150px;
    cursor:pointer;
    margin: 0 -10px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #21303C;
    position: absolute;
    left: 0;
    bottom: -10px;
}


.navbar ul li:hover::after{
    width: 100%;
}

.contents{
    width:100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;

}
h1{
    font-size: 70px;
    margin-top: 80px;
}
h2{
    color: whitesmoke;
}
p{
    margin:20px auto ;
    font-weight: 100;
    line-height: 25px;
    color: white;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align:center ;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #21303C;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #21303C;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;

}

button:hover {
    border: none;

}
.share, .popup{
    position: absolute;
    left: 50%;
  }
  
  .share{
    margin-top: 200px;
    top: 50%;
    color: #fff;
    font-size: 18px;
    padding: 10px 25px;
    transform: translate(-50%, -50%);
  }
  
  .popup{
    background: #404040;
    padding: 25px;
    border-radius: 15px;
    top: -150%;
    max-width: 380px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
    transform: translate(-50%, -50%) scale(1.2);
    transition: top 0s 0.2s ease-in-out,
                opacity 0.2s 0s ease-in-out,
                transform 0.2s 0s ease-in-out;
  }
  .popup.show{
    top: 50%;
    opacity: 1;
    pointer-events: auto;
    transform:translate(-50%, -50%) scale(1);
    transition: top 0s 0s ease-in-out,
                opacity 0.2s 0s ease-in-out,
                transform 0.2s 0s ease-in-out;
  
  }
  
  .popup :is(header, .icons, .field){
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .popup header{
    padding-bottom: 15px;
    border-bottom: 1px solid #ebedf9;
  }
  header span{
    font-size: 21px;
    font-weight: 600;
  }
  header .close, .icons a{
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    transition: all 0.3s ease-in-out;
  }
  header .close{
    color: #878787;
    font-size: 17px;
    background: #f2f3fb;
    height: 33px;
    width: 33px;
    cursor: pointer;
  }
  header .close:hover{
    background: #ebedf9;
  }
  .popup .content{
    margin: 20px 0;
  }
  .popup .icons{
    margin: 15px 0 20px 0;
  }
  .content p{
    font-size: 16px;
  }
  .content .icons a{
    height: 50px;
    width: 50px;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid transparent;
  }
  .icons a i{
    transition: transform 0.3s ease-in-out;
  }
  .icons a:nth-child(1){
    color: #1877F2;
    border-color: #b7d4fb;
  }
  .icons a:nth-child(1):hover{
    background: #1877F2;
  }
  .icons a:nth-child(2){
    color: #46C1F6;
    border-color: #b6e7fc;
  }
  .icons a:nth-child(2):hover{
    background: #46C1F6;
  }
  .icons a:nth-child(3){
    color: #25D366;
    border-color: #25D366;
  }
  .icons a:nth-child(3):hover{
    background: #25D366;
  }
  .icons a:nth-child(4){
    color:#0088cc ;
    border-color: #0088cc;
  }
  .icons a:nth-child(4):hover{
    background: #0088cc;
  }
  
  .icons a:hover{
    color: #fff;
    border-color: transparent;
  }
  .icons a:hover i{
    transform: scale(1.2);
  }
  .content .field{
    margin: 12px 0 -5px 0;
    height: 45px;
    border-radius: 4px;
    padding: 0 5px;
    border: 1px solid #e1e1e1;
  }
  .field.active{
    border-color: #7d2ae8;
  }
  .field i{
    width: 50px;
    font-size: 18px;
    text-align: center;
  }
  .field.active i{
    color: #7d2ae8;
  }
  .field input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
  }
  .field button{
    color: #fff;
    padding: 5px 18px;
    background: #7d2ae8;
  }
  .field button:hover{
    background: #8d39fa;
  }
