<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Slider</title>
    <link rel="stylesheet" href="slider.css">
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li class="list">
                    <a href="#">
                        <span class="icon"><ion-icon name="book"></ion-icon></span>
                        <span class="title">SHELF CONTROL</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon"><ion-icon name="add-circle"></ion-icon></span>
                        <span class="title">Books</span>
                    </a>
                </li>
                <li class="list ">
                    <a href="#">
                        <span class="icon"><ion-icon name="people"></ion-icon></span>
                        <span class="title">Borrows</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon"><ion-icon name="bookmarks"></ion-icon></span>
                        <span class="title">Reservations</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon"><ion-icon name="bookmarks"></ion-icon></span>
                        <span class="title">Subscription</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon"><ion-icon name="bookmarks"></ion-icon></span>
                        <span class="title">Favourites</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon"><ion-icon name="bookmarks"></ion-icon></span>
                        <span class="title">FAQ's</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon"><ion-icon name="log-out"></ion-icon></span>
                        <span class="title">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>