@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@700&family=Oswald:wght@300;400&family=PT+Sans+Narrow:wght@400;700&family=Quicksand:wght@300;400;500;600;700&family=Rajdhani:wght@500;600;700&family=Source+Sans+Pro:wght@200&display=swap");
* {
  margin: 0;
  font-family: "Quicksand";
}
html {
  background-color: #eef1f6;

}
header {
  background-color: #ffffff;
  margin: 0;
}
.logo {
  background-color: #21303c;
  width: 156px;
}
#logo {
  margin-left: 25px;
  margin-top: 10px;
}
.search {
  display: flex;
}
.header-container {
  display: flex;
}
.form {
  margin-top: 10px;
}
#genre {
  margin-top: 20px;
  font-size: 20px;
  appearance: none;
  padding: 6px 20px;
  width: 150px;
  text-align: left;
  font-size: 14px;
  color: #888b8b;
  border: solid 1px #cbcdcd;
  border-radius: 8px;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 15px;
  background: url("https://cdn-icons-png.flaticon.com/512/7711/7711100.png")
    no-repeat 115px;
  background-size: 20px;
  cursor: pointer;
}
#genre:focus {
  outline: none;
}
input {
  padding: 10px 20px;
  width: 450px;
  text-align: left;
  font-size: 14px;
  color: #888b8b;
  border: solid 1px #cbcdcd;
  border-radius: 8px;
  margin-left: 50px;
  margin-right: 10px;
  margin-top: 10px;
  background: url("https://static.thenounproject.com/png/101791-200.png")
    no-repeat 450px;
  background-size: 20px;
}
input:focus {
  outline: none;
}

.nav-right {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

.bell-icon {
  margin: 22px;
  font-size: 25px;
  cursor: pointer;
  transition-duration: 0.4s;
  padding: 5px;
  background-color: #fafcff;
}
.bell-icon:hover {
  transform: rotate(0.04turn);
}
@keyframes bell {
  0% {
    transform: rotate(-0.08turn);
  }
  50% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(0.08turn);
  }
}
.account-container {
  display: flex;
  margin: 8px;
  padding: 4px 10px;
  cursor: pointer;
  transition-duration: 0.2s;
  background-color: #fafcff;
  color: #888b8b;
  border-bottom: solid 1px #ffffff;
  border-radius: 8px;
}
.account-container:hover {
  color: #21303ccf;
  background-color: #fafafa;
}

#profile-icon {
  background-color: #c9f2c8;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
}
.profile-picture {
  margin: 10px 10px;
}
.profile-info {
  padding: 10px 10px;
  line-height: 20px;
  text-align: start;
}
.profile-name {
  font-size: 16px;
}
.profile-type {
  font-size: 12px;
}
.body {
  display: flex;
}
.navigation-container {
  width: 156px;
  height: 100vh;
  background-color: #21303c;
  color: #fff;
  text-align: center;
}
.nav-item {
  width: fit-content;
  padding: 20px;
  margin: auto;
  padding-top: 10px;
  transition-duration: 0.15s;
  cursor: pointer;
}
.nav-hover:hover {
  background-color: #53bdc7;
}
.line {
  height: 1px;
  width: 180px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: auto;
}
#bottom {
  margin-top: 14vh;
}
#logout {
  display: flex;
}
#logout-text {
  margin-top: 5px;
}
.body-container {
  display: flex;
}
.borrowed-books-container {
  width: 135vh;
  margin: 20px 80px;
  background-color: #fff;
  border: solid 1px #eef1f6;
  border-radius: 12px;
  padding: 24px;
  padding-left: 50px;
  height: fit-content;
}
.borrowed-book-head{
  color: #136284;
  font-size: 24px;
}
.table-line{
  margin-top: 8px;
  width: 135vh;
  height: 1px;
  background-color: #8A9090;
}
.borrowed-list-head-title, .borrow-list-row-container{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.borrowed-list-head-title{
  margin-top: 28px;
  color: #8A9090;
}
.borrow-list-row-container{
  margin-top: 12px;
  height: 40px;
  padding-top: 8px;
}
.Book-Id{
  width: 58px;
  text-align: center;
}
.Book-Name{
  width: 180px;
  text-align: center;
}
.Borrowed-Date, .Due-Date{
  width: 140px;
}
.Status{
  width: 80px;
}
.Action{
  width: 120px;
}
.notify{
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: green;
  color: white;
  cursor: pointer;
  margin-right: 40px;
  padding: 5px 30px;
}
.returned-books-container {
  width: 135vh;
  margin: 20px 80px;
  background-color: #fff;
  border: solid 1px #eef1f6;
  border-radius: 12px;
  padding: 24px;
  padding-left: 50px;
  height: fit-content;
}
.returned-book-head{
  color: #136284;
  font-size: 24px;
}
.returned-list-head-title, .returned-list-row-container{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.returned-list-head-title{
  margin-top: 28px;
  color: #8A9090;
}
.returned-list-row-container{
  margin-top: 12px;
  height: 40px;
  padding-top: 8px;
  transition-duration: 0.4s;
}
.borrow-list-row-container:hover,.returned-list-row-container:hover{
  background-color: #D9D9D9;
  border-left: solid 5px #53bdc7;
  cursor: pointer;
  transition-duration: 0.10s;
}